# Population Growth

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = "Datos/archive/API_SP.POP.GROW_DS2_en_csv_v2_2594848.csv"

df = pd.read_csv(data)
df.head()

,Country Name,Country Code,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,2.179059,1.548572,1.389337,1.215721,1.032841,0.862184,0.388847,-0.085719,...,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392,-0.157953
1,Africa Eastern and Southern,AFE,2.660180,2.732633,2.753248,2.806915,2.840787,2.813609,2.830505,2.881589,...,2.774990,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.543757,2.531587
2,Afghanistan,AFG,1.925952,2.014879,2.078997,2.139651,2.216007,2.253524,2.292638,2.347351,...,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498,2.665628
3,Africa Western and Central,AFW,2.115789,2.145723,2.190827,2.211360,2.242567,2.272816,2.275721,2.295953,...,2.750731,2.723317,2.713059,2.706266,2.669239,2.633982,2.615646,2.573377,2.539799,2.540864
4,Angola,AGO,1.558355,1.460738,1.410425,1.301745,1.111041,0.875806,0.696698,0.695985,...,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753,3.030996

In [9]:
print(f"Cantidad de paises: {df['Country Name'].nunique()}")

Cantidad de paises: 266

In [10]:
data2 = "Datos/Proveedores.csv"

df2 = pd.read_csv(data2)

df2.head()

,Número Proveedor,Nombre Proveedor,CUIT,Categoria Proveedor,Tipo de Contribuyente,Contacto,Correo Electrónico,Teléfono,Razón Social,Importe,Fecha,Nro_Cuenta
0,P00038,Laura Fernández,30-98765437-1,SERVICOS,Monotributista,Laura Fernández,laura.fernandez@empresa.zom,8901-2345,S.R.L.,"$10.164,00",2/6/24/,509100.0
1,P00100,Gabriela Morales,30-98765437-1,MATERIALES,Monotributista,Gabriela Morales,gabriela.morales@empresa.zom,0123-4567,S.R.L.,"$11.660,00",31/1/24/,503100.0
2,P00067,Estudio Jurídico S.A.,30-98765437-1,MATERIALES,Responsable inscripto,Estudio Jurídico,estudio.juridico@correo.com,7890-1234,S.A.,"$15.039,00",13/5/24/,509100.0
3,P00002,Pedro González,30-98765437-1,SERVICOS,Monotributista,Pedro González,pedro.gonzalez@correo.zom,2345-6789,S.R.L.,"$18.521,00",8/2/24/,503100.0
4,P00092,Consultora Zeta,30-98765437-1,SERVICOS,Monotributista,Consultora Zeta,consultora.zeta@empresa.zom,2345-6789,S.R.L.,"$19.014,00",19/1/24/,516000.0

In [25]:
df2.iloc[150:153, :]

,Número Proveedor,Nombre Proveedor,CUIT,Categoria Proveedor,Tipo de Contribuyente,Contacto,Correo Electrónico,Teléfono,Razón Social,Importe,Fecha,Nro_Cuenta
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$20.570.513,00",NaN,NaN

In [28]:
df2 = df2.drop([150, 151, 152]).reset_index()
df2.tail()

,index,Número Proveedor,Nombre Proveedor,CUIT,Categoria Proveedor,Tipo de Contribuyente,Contacto,Correo Electrónico,Teléfono,Razón Social,Importe,Fecha,Nro_Cuenta
145,145,P00017,Julio Fernández,30-98765437-1,MATERIALES,Monotributista,Julio Fernández,julio.fernandez@correo.zom,7890-1234,S.A.,"$252.040,00",5/3/24/,516000.0
146,146,P00021,Distribuciones ABC,30-98765437-1,SERVICOS,Monotributista,Francisco Gómez,francisco.gomez@correo.zom,1234-5678,S.A.,"$270.035,00",28/3/24/,509100.0
147,147,P00008,Compañía Beta,30-98765437-1,AGENTE IMPOSITIVO,Monotributista,Laura Martínez,laura.martinez@empresa.zom,8901-2345,S.R.L.,"$283.772,00",21/1/24/,506100.0
148,148,P00020,Juegos del Norte,30-98765437-1,MATERIALES,Responsable inscripto,Pablo Fernández,pablo.fernandez@empresa.zom,0123-4567,S.R.L.,"$292.966,00",15/4/24/,506100.0
149,149,P00018,Consultora Zeta,30-98765437-1,SERVICOS,Responsable inscripto,Laura Sánchez,laura.sanchez@empresa.zom,8901-2345,S.R.L.,"$299.795,00",4/2/24/,501400.0

In [31]:
df2["Número Proveedor"].nunique(), df2["Nombre Proveedor"].nunique()

(97, 89)

In [36]:
df2["Número Proveedor"].value_counts()

Número Proveedor
P00022    4
P00080    4
P00095    2
P00085    2
P00018    2
         ..
P00045    1
P00069    1
P00003    1
P00051    1
P00047    1
Name: count, Length: 97, dtype: int64

In [51]:
dff = pd.read_csv("Datos/Proveedores.csv")
dff.head()

,Número Proveedor,Nombre Proveedor,CUIT,Categoria Proveedor,Tipo de Contribuyente,Contacto,Correo Electrónico,Teléfono,Razón Social,Importe,Fecha,Nro_Cuenta
0,P00038,Laura Fernández,30-98765437-1,SERVICOS,Monotributista,Laura Fernández,laura.fernandez@empresa.zom,8901-2345,S.R.L.,"$10.164,00",2/6/24/,509100.0
1,P00100,Gabriela Morales,30-98765437-1,MATERIALES,Monotributista,Gabriela Morales,gabriela.morales@empresa.zom,0123-4567,S.R.L.,"$11.660,00",31/1/24/,503100.0
2,P00067,Estudio Jurídico S.A.,30-98765437-1,MATERIALES,Responsable inscripto,Estudio Jurídico,estudio.juridico@correo.com,7890-1234,S.A.,"$15.039,00",13/5/24/,509100.0
3,P00002,Pedro González,30-98765437-1,SERVICOS,Monotributista,Pedro González,pedro.gonzalez@correo.zom,2345-6789,S.R.L.,"$18.521,00",8/2/24/,503100.0
4,P00092,Consultora Zeta,30-98765437-1,SERVICOS,Monotributista,Consultora Zeta,consultora.zeta@empresa.zom,2345-6789,S.R.L.,"$19.014,00",19/1/24/,516000.0

In [54]:
dff.drop([150, 151, 152], inplace=True)

In [56]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Número Proveedor       150 non-null    object
 1   Nombre Proveedor       150 non-null    object
 2   CUIT                   150 non-null    object
 3   Categoria Proveedor    150 non-null    object
 4   Tipo de Contribuyente  150 non-null    object
 5   Contacto               150 non-null    object
 6   Correo Electrónico     150 non-null    object
 7   Teléfono               150 non-null    object
 8   Razón Social           150 non-null    object
 9   Importe                150 non-null    object
 10  Fecha                  150 non-null    object
 11  Nro_Cuenta             150 non-null    float64
dtypes: float64(1), object(11)
memory usage: 14.2+ KB

In [57]:
dff.columns

Index(['Número Proveedor', 'Nombre Proveedor', 'CUIT', 'Categoria Proveedor',
       'Tipo de Contribuyente', 'Contacto', 'Correo Electrónico', 'Teléfono',
       'Razón Social', 'Importe', 'Fecha', 'Nro_Cuenta'],
      dtype='object')

In [59]:
dff["Número Proveedor"].nunique(), dff["Nombre Proveedor"].nunique()

(97, 89)

In [60]:
dff["Número Proveedor"].value_counts()

Número Proveedor
P00022    4
P00080    4
P00095    2
P00085    2
P00018    2
         ..
P00045    1
P00069    1
P00003    1
P00051    1
P00047    1
Name: count, Length: 97, dtype: int64

In [61]:
dff["Nombre Proveedor"].value_counts()

Nombre Proveedor
Roberto Morales          5
Consultora Zeta          4
Consultora Beta SRL      4
Ana Gómez                3
Estudio Jurídico Zeta    3
                        ..
Javier López             1
Proveedores SRL          1
Proveedores Beta         1
Empresa XYZ              1
Servicios SRL            1
Name: count, Length: 89, dtype: int64

In [63]:
dff[dff["Nombre Proveedor"] == "Roberto Morales"]

,Número Proveedor,Nombre Proveedor,CUIT,Categoria Proveedor,Tipo de Contribuyente,Contacto,Correo Electrónico,Teléfono,Razón Social,Importe,Fecha,Nro_Cuenta
42,P00068,Roberto Morales,30-98765437-1,AGENTE IMPOSITIVO,Monotributista,Roberto Morales,roberto.morales@correo.zom,8901-2345,S.R.L.,"$84.567,00",27/3/24/,514100.0
96,P00022,Roberto Morales,30-98765437-1,AGENTE IMPOSITIVO,Responsable inscripto,Roberto Morales,roberto.morales@correo.com,2345-6789,S.R.L.,"$165.406,00",27/2/24/,514100.0
101,P00022,Roberto Morales,30-98765437-1,AGENTE IMPOSITIVO,Responsable inscripto,Roberto Morales,roberto.morales@correo.com,2345-6789,S.R.L.,"$174.615,00",14/3/24/,516000.0
125,P00022,Roberto Morales,30-98765437-1,AGENTE IMPOSITIVO,Responsable inscripto,Roberto Morales,roberto.morales@correo.com,2345-6789,S.R.L.,"$214.016,00",18/1/24/,514100.0
134,P00022,Roberto Morales,30-98765437-1,AGENTE IMPOSITIVO,Responsable inscripto,Roberto Morales,roberto.morales@correo.com,2345-6789,S.R.L.,"$229.012,00",10/6/24/,516000.0

In [67]:
dff[dff["Nombre Proveedor"] == "Roberto Morales"]["Número Proveedor"].nunique()

2

In [98]:
nombre_dupli = {}

for name in dff["Nombre Proveedor"].unique():
    numero_unico = dff[dff["Nombre Proveedor"] == name]["Número Proveedor"].nunique()

    if numero_unico > 1:
        numero_prov = dff[dff["Nombre Proveedor"] == name]["Número Proveedor"].unique()
        nombre_dupli[name] = list(numero_prov)
        
nombre_dupli

{'Gabriela Morales': ['P00100', 'P00051'],
 'Consultora Zeta': ['P00092', 'P00018'],
 'Compañía Zeta': ['P00027', 'P00045'],
 'Estudio Consultores': ['P00072', 'P00085'],
 'Proveedora SRL': ['P00074', 'P00041'],
 'Roberto Morales': ['P00068', 'P00022'],
 'Estudio Jurídico Zeta': ['P00081', 'D00053'],
 'Ana Gómez': ['P00086', 'P00062']}

In [88]:
data_trans = [(name, num) for name, num in nombre_dupli.items()]

[('Gabriela Morales', ['P00100', 'P00051']),
 ('Consultora Zeta', ['P00092', 'P00018']),
 ('Compañía Zeta', ['P00027', 'P00045']),
 ('Estudio Consultores', ['P00072', 'P00085']),
 ('Proveedora SRL', ['P00074', 'P00041']),
 ('Roberto Morales', ['P00068', 'P00022']),
 ('Estudio Jurídico Zeta', ['P00081', 'D00053']),
 ('Ana Gómez', ['P00086', 'P00062'])]

In [89]:
dfn = pd.DataFrame(data=data_trans, columns=["Nombre", "Numero"])
dfn

                  Nombre            Numero
0       Gabriela Morales  [P00100, P00051]
1        Consultora Zeta  [P00092, P00018]
2          Compañía Zeta  [P00027, P00045]
3    Estudio Consultores  [P00072, P00085]
4         Proveedora SRL  [P00074, P00041]
5        Roberto Morales  [P00068, P00022]
6  Estudio Jurídico Zeta  [P00081, D00053]
7              Ana Gómez  [P00086, P00062]

In [113]:
print(f'Proveedores\nTotal: {dff["Nombre Proveedor"].count()}\nUnicos:{dff["Nombre Proveedor"].nunique()}\nNumero unico: {dff["Número Proveedor"].nunique()}')

Proveedores
Total: 150
Unicos:89
Numero unico: 97

In [96]:
dff[dff["Nombre Proveedor"].str.startswith("Consultora Zeta")]

,Número Proveedor,Nombre Proveedor,CUIT,Categoria Proveedor,Tipo de Contribuyente,Contacto,Correo Electrónico,Teléfono,Razón Social,Importe,Fecha,Nro_Cuenta
4,P00092,Consultora Zeta,30-98765437-1,SERVICOS,Monotributista,Consultora Zeta,consultora.zeta@empresa.zom,2345-6789,S.R.L.,"$19.014,00",19/1/24/,516000.0
30,P00018,Consultora Zeta,30-98765437-1,SERVICOS,Responsable inscripto,Laura Sánchez,laura.sanchez@empresa.zom,8901-2345,S.R.L.,"$62.378,00",3/1/24/,501400.0
66,P00087,Consultora Zeta SRL,30-98765437-1,SERVICOS,Responsable inscripto,Consultora Zeta,consultora.zeta@correo.zom,7890-1234,S.R.L.,"$127.588,00",6/3/24/,501400.0
98,P00087,Consultora Zeta SRL,30-98765437-1,SERVICOS,Responsable inscripto,Consultora Zeta,consultora.zeta@correo.zom,7890-1234,S.R.L.,"$171.619,00",19/3/24/,501400.0
117,P00092,Consultora Zeta,30-98765437-1,SERVICOS,Monotributista,Consultora Zeta,consultora.zeta@empresa.zom,2345-6789,S.R.L.,"$204.823,00",22/2/24/,516000.0
149,P00018,Consultora Zeta,30-98765437-1,SERVICOS,Responsable inscripto,Laura Sánchez,laura.sanchez@empresa.zom,8901-2345,S.R.L.,"$299.795,00",4/2/24/,501400.0

In [108]:
for col in dff.columns:
    print(f"Name: {col}, unique: {dff[col].nunique()}")

Name: Número Proveedor, unique: 97
Name: Nombre Proveedor, unique: 89
Name: CUIT, unique: 1
Name: Categoria Proveedor, unique: 3
Name: Tipo de Contribuyente, unique: 2
Name: Contacto, unique: 81
Name: Correo Electrónico, unique: 94
Name: Teléfono, unique: 10
Name: Razón Social, unique: 3
Name: Importe, unique: 150
Name: Fecha, unique: 109
Name: Nro_Cuenta, unique: 6

In [116]:
dff.nunique()

Número Proveedor          97
Nombre Proveedor          89
CUIT                       1
Categoria Proveedor        3
Tipo de Contribuyente      2
Contacto                  81
Correo Electrónico        94
Teléfono                  10
Razón Social               3
Importe                  150
Fecha                    109
Nro_Cuenta                 6
dtype: int64

In [118]:
dff[dff.duplicated(["Nombre Proveedor", "Número Proveedor"], keep=False)]

,Número Proveedor,Nombre Proveedor,CUIT,Categoria Proveedor,Tipo de Contribuyente,Contacto,Correo Electrónico,Teléfono,Razón Social,Importe,Fecha,Nro_Cuenta
1,P00100,Gabriela Morales,30-98765437-1,MATERIALES,Monotributista,Gabriela Morales,gabriela.morales@empresa.zom,0123-4567,S.R.L.,"$11.660,00",31/1/24/,503100.0
4,P00092,Consultora Zeta,30-98765437-1,SERVICOS,Monotributista,Consultora Zeta,consultora.zeta@empresa.zom,2345-6789,S.R.L.,"$19.014,00",19/1/24/,516000.0
5,P00080,Consultora Beta SRL,30-98765437-1,SERVICOS,Monotributista,Consultora Beta,consultora.beta@correo.zom,0123-4567,S.R.L.,"$19.483,00",12/1/24/,514100.0
7,P00060,Roberto Pérez,30-98765437-1,AGENTE IMPOSITIVO,Monotributista,Roberto Pérez,roberto.perez@correo.zom,0123-4567,S.R.L.,"$24.035,00",27/2/24/,503100.0
8,P00073,Andrés García,30-98765437-1,MATERIALES,Responsable inscripto,Andrés García,andres.garcia@correo.zom,3456-7890,S.A.,"$24.573,00",13/6/24/,509100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
145,P00017,Julio Fernández,30-98765437-1,MATERIALES,Monotributista,Julio Fernández,julio.fernandez@correo.zom,7890-1234,S.A.,"$252.040,00",5/3/24/,516000.0
146,P00021,Distribuciones ABC,30-98765437-1,SERVICOS,Monotributista,Francisco Gómez,francisco.gomez@correo.zom,1234-5678,S.A.,"$270.035,00",28/3/24/,509100.0
147,P00008,Compañía Beta,30-98765437-1,AGENTE IMPOSITIVO,Monotributista,Laura Martínez,laura.martinez@empresa.zom,8901-2345,S.R.L.,"$283.772,00",21/1/24/,506100.0
148,P00020,Juegos del Norte,30-98765437-1,MATERIALES,Responsable inscripto,Pablo Fernández,pablo.fernandez@empresa.zom,0123-4567,S.R.L.,"$292.966,00",15/4/24/,506100.0
149,P00018,Consultora Zeta,30-98765437-1,SERVICOS,Responsable inscripto,Laura Sánchez,laura.sanchez@empresa.zom,8901-2345,S.R.L.,"$299.795,00",4/2/24/,501400.0