# Agregar y limpiar datos

In [1]:
import os
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 500)

In [3]:
!ls ./Datos/10-9-extras/

10-9 Nuevos_registros_proveedores-copy - Proveedores nuevos.csv
10-9 donantes_nuevos_registros-copy.xlsx - donantes_nuevos_registros.csv
Donantes.xlsx
Proveedores - Proveedores.csv

In [4]:
# Dataframes
data_prov_old = "./Datos/10-9-extras/Proveedores - Proveedores.csv"
data_donan_old = "./Datos/10-9-extras/Donantes.xlsx"
data_prov = "./Datos/10-9-extras/10-9 Nuevos_registros_proveedores-copy - Proveedores nuevos.csv"
data_donan = "./Datos/10-9-extras/10-9 donantes_nuevos_registros-copy.xlsx - donantes_nuevos_registros.csv"

# old
dfpo = pd.read_csv(data_prov_old)
dfdo = pd.read_excel(data_donan_old, sheet_name="Donantes")
# new
dfpn = pd.read_csv(data_prov)
dfdn = pd.read_csv(data_donan)

#### ***NOTAS***
- _fecha de alta como fecha de donacion, codigo area como argentina/buenos aires_

## Viejo vs nuevo

### Proveedores

In [5]:
sp_old = pd.Series(dfpo.columns.to_list())
sp_new = pd.Series(dfpn.columns.to_list())

display_prov = pd.concat([sp_old, sp_new], axis=1)
print(f"prov_old shape: {dfpo.shape}, prov_new shape: {dfpn.shape}\n")
display_prov.columns = ["Viejos", "Nuevos"]
display_prov

prov_old shape: (150, 12), prov_new shape: (373, 16)

                   Viejos                 Nuevos
0        Número Proveedor       Número Proveedor
1        Nombre Proveedor       Nombre Proveedor
2                    CUIT                   CUIT
3     Categoria Proveedor    Categor/a Proveedor
4   Tipo de Contribuyente  Tipo de Contribuyente
5                Contacto          Observaciones
6      Correo Electrónico               Contacto
7                Teléfono     Correo Electrónico
8            Razón Social               Teléfono
9                 Importe           Razón Social
10                  Fecha                Importe
11             Nro_Cuenta                  Fecha
12                    NaN             Nro_Cuenta
13                    NaN                 Ciudad
14                    NaN                   Pais
15                    NaN                   Maps

### Donantes

In [6]:
sd_old = pd.Series(dfdo.columns.to_list())
sd_new = pd.Series(dfdn.columns.to_list())

display_don = pd.concat([sd_old, sd_new] ,axis=1)
print(f"prov_old shape: {dfdo.shape}, prov_new shape: {dfdn.shape}\n")
display_don.columns = ["Viejos", "Nuevos"]
display_don

prov_old shape: (109, 18), prov_new shape: (499, 19)

                   Viejos                 Nuevos
0                  Número                 Numero
1                  Nombre                 Nombre
2                    Tipo                   Tipo
3                Contacto               Contacto
4                   Cargo                  Cargo
5      Correo Electrónico     Correo Electrónico
6                Teléfono               Telefono
7           Observaciones          Observaciones
8            Razon Social           Razon Social
9   Tipo de Contribuyente  Tipo de Contribuyente
10                   CUIT                   CUIT
11                   Alta                   Alta
12                   Baja                   Baja
13                 Activo                 Activo
14             Frecuencia             Frecuencia
15                Importe                Importe
16          Nro de Cuenta          Nro de Cuenta
17                    Mes         Fecha_Donación
18                    NaN                   País

La diferencia es en la columna de `Mes` que cree anteriormente y 2 nuevas columnas `Fecha_Donación` y `País`

In [7]:
display_don.tail(2)

   Viejos          Nuevos
17    Mes  Fecha_Donación
18    NaN            País

## Empezar a acomodar las columnas